@import "../constants.scss";

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  h4 {
    margin: 0;
  }

  .user-info {
    display: flex;
    gap: 5px;
    align-items: center;

    strong {
      background-color: $pink;
      color: $white;
      padding: 2px 8px;
      box-sizing: border-box;
      border-radius: 6px;
    }
  }
}

.badges-container {
  .badge-item {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba($text-300, 0.2);
    box-shadow: 0 5px 10px rgba($text-300, 0.1);
    border-radius: 10px;
    transition: 0.2s;

    &:hover {
      border: 1px solid rgba($text-300, 0.3);
      box-shadow: 0 5px 20px rgba($text-300, 0.3);
    }

    .details {
      text-align: center;
    }

    .btn-container {
      width: 100%;
      display: flex;

      .btn {
        flex: 1;
      }
    }

    &.unaffordable {
      pointer-events: none;
      opacity: 0.7;

      img {
        filter: blur(5px);
      }
    }

    &.selected {
      border: 1px solid rgba($text-300, 0.6);
      box-shadow: 0 5px 20px rgba($text-300, 0.6);
    }
  }
}
